@import url('https://fonts.googleapis.com/css?family=Anton|Mr+De+Haviland');
@font-face { font-family: TradeGothicBold; src: url('../fonts/TradeGothic/TradeGothicBold.otf'); } 
@font-face { font-family: Botdoh; src: url('../fonts/Botdoh/Botdoh.otf'); } 

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #F89C6C;
    border: 1px black solid;
    padding: 20px;
}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

body {
	text-align: center;
 	background-size: cover;
 	color: white;
 	background-color: rgba(139, 88, 105, 1);
	font-family: sans-serif;
	margin: 10px
}
h1 {
	font-size: 72px;
	text-shadow: 2px 2px 8px rgba(111,91,95, 0.2);
}
hr {
	width: 250px;
}
#home {	
	background: url("../images/ppy-home-header.jpg");
	background-size: cover;
	height: 1000px
}
#headline {
	padding-top: 200px
}
#PPY {
	font-size: 80px;
	font-family: 'TradeGothicBold', sans-serif;
	line-height: .0em
}
#yoga {
	font-size: 190px;
	font-family: 'Botdoh', cursive;
	font-weight: 100;
	line-height: .0em;
	margin-top: 60px
}
#content {
	background-color: rgba(139, 88, 105, .8);
	padding: 50px;
	color: #fff;
	margin-top: 0px
}
#left {
	text-align: left;
}
.italic {
	font-style: italic;
}
#tiny {
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 100px;
}